<% const rowId = 'initial-row'; %>
<tr class="drug-row" data-id="<%= rowId %>">
  <td>
    <select
      name="maNhom[]"
      class="form-select drug-group-select"
      id="drugGroupSelect-<%= rowId %>"
      required
    ></select>
  </td>
  <td>
    <input
      type="text"
      name="thuoc_ten[]"
      class="form-control"
      placeholder="Gõ tên thuốc..."
      id="drugNameInput-<%= rowId %>"
      required
    />
    <input type="hidden" name="thuoc_ma[]" id="drugIdHidden-<%= rowId %>" />
  </td>
  <td>
    <input
      type="number"
      name="so_luong[]"
      class="form-control"
      min="1"
      required
    />
  </td>
  <td>
    <input
      type="text"
      name="don_vi[]"
      class="form-control"
      id="drugUnitInput-<%= rowId %>"
      placeholder="Đơn vị"
      readonly
    />
  </td>
  <td>
    <input
      type="text"
      name="cach_dung[]"
      class="form-control"
      placeholder="Ngày 2 lần, mỗi lần 1 viên..."
      required
    />
  </td>
  <td>
    <button type="button" class="btn btn-danger btn-sm remove-drug">Xóa</button>
  </td>
</tr>
