<% if (typeof dichVuDaChon !== 'undefined' && dichVuDaChon.length > 0) { %>
    <% dichVuDaChon.forEach(function(dv) { %>
        <tr id="row-dv-<%= dv.ma %>">
            <td class="text-start ps-3 fw-bold"><%= dv.ten %></td>
            <td class="text-danger"><%= parseInt(dv.gia).toLocaleString('vi-VN') %></td>
            <td>
                <button type="button" class="btn btn-sm btn-outline-danger border-0" onclick="xoaDichVu('<%= dv.ma %>')">
                    <i class="fas fa-trash"></i>
                </button>
                <input type="hidden" name="dich_vu_chi_dinh[]" value="<%= dv.ma %>" id="input-dv-<%= dv.ma %>">
            </td>
        </tr>
    <% }); %>
<% } else { %>
    <tr id="rowNoService">
        <td colspan="3" class="text-muted py-3">Chưa có chỉ định nào</td>
    </tr>
<% } %>